{% load static %}
<!-- Required Js -->
<script src={% static "/libs/@popperjs/core/dist/umd/popper.min.js" %}></script>
<script src={% static "/libs/simplebar/dist/simplebar.min.js" %}></script>
<script src={% static "/libs/bootstrap/dist/js/bootstrap.min.js" %}></script>

<script src={% static "/libs/i18next/dist/umd/i18next.min.js" %}></script>
<script src={% static "/libs/i18next-http-backend/i18nextHttpBackend.min.js" %}></script>

<script src={% static "/assets/js/icon/custom-font.js" %}></script>
<script src={% static "/assets/js/script.js" %}></script>
<script src={% static "/assets/js/theme.js" %}></script>

<script src={% static "/libs/feather-icons/dist/feather.min.js" %}></script>
<script src={% static "/assets/js/multi-lang.js" %}></script>

<div class="floting-button">
  <a
    href="https://1.envato.market/zNkqj6"
    class="btn btn btn-danger buynowlinks d-inline-flex align-items-center gap-2"
    data-bs-toggle="tooltip"
    title="Buy Now"
  >
    <i class="ph-duotone ph-shopping-cart"></i>
    <span>Buy Now</span>
  </a>
</div>