<!-- Required Js -->
<script src="/libs/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/libs/simplebar/dist/simplebar.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/libs/i18next/dist/umd/i18next.min.js"></script>
<script src="/libs/i18next-http-backend/i18nextHttpBackend.min.js"></script>

<script src="/assets/js/icon/custom-font.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/theme.js"></script>

<script src="/libs/feather-icons/dist/feather.min.js"></script>
<script src="/assets/js/multi-lang.js"></script>

<div class="floting-button">
  <a
    href="https://1.envato.market/zNkqj6"
    class="btn btn btn-danger buynowlinks d-inline-flex align-items-center gap-2"
    data-bs-toggle="tooltip"
    title="Buy Now"
    target="_blank"
  >
    <i class="ph-duotone ph-shopping-cart"></i>
    <span>Buy Now</span>
  </a>
</div>