{% extends "layouts/component-layout.html" %}
{% load static %}
{% block title %}   
{% include 'layouts/head-page-meta.html' with title='Tour' %}
{% endblock %}

{% block css1 %}
<link rel="stylesheet" href={% static "/libs/intro.js/minified/introjs.min.css" %} />
{% endblock %}

{% block css2 %} 
<link rel="stylesheet" href={% static "/assets/css/uikit.css" %} />
{% endblock %}

{% block mainContent %}
    <!-- [ Main Content ] start -->
    <section class="component-block">
      <div class="container">
        <div class="row">
          <div class="col-xl-3"> {% include 'layouts/component/component-menu-list.html' %} </div>
          <div class="col-xl-9">
            <div class="row">
              <!-- prettier-ignore -->
              {% include 'layouts/component/component-breadcrumb.html' with title='Tour' text='Intro.js is a lightweight JavaScript library for creating step-by-step and powerful customer onboarding tours' link='https://introjs.com/' %}
            </div>
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- [ rangeslider ] start -->
              <div class="col-sm-12">
                <div class="card step1">
                  <div class="card-header step2">
                    <h5 class="step3">Hello card</h5>
                  </div>
                  <div class="card-body step4">
                    <h1>H1 Admin Template</h1>
                    <h2>H2 Admin Template</h2>
                    <h3>H3 Admin Template</h3>
                    <h4>H4 Admin Template</h4>
                    <h5>H5 Admin Template</h5>
                    <h6>H6 Admin Template</h6>
                    <p>p Admin Template</p>
                    <strong>p Admin Template</strong>
                  </div>
                </div>
              </div>
              <!-- [ rangeslider ] end -->
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </section>
    <!-- [ Main Content ] end -->
{% endblock %}

{% block js1 %}
    <!-- tour Js -->
    <script src={% static "/libs/intro.js/minified/intro.min.js" %}></script>
    <script src={% static "/assets/js/elements/ac-tour.js" %}></script>
    <!-- [Page Specific JS] end -->
{% endblock %}

